{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="admin-container">
        <div class="modal-header">
            <h1>Modifica {{ post.title|title }}</h1>
        </div>
    
        <div class="modal-body">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-warning" type="submit" value="Modifica" />
            {{ form_end(edit_form) }}
        
            <ul class="admin-actions admin-actions-show">
                <li>
                    <a class="btn btn-success" href="{{ path('admin_news_index') }}">Torna alla lista</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Elimina" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
