{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="admin-container">
        <div class="modal-header">
            <h1>Crea News</h1>
        </div>
    
        <div class="modal-body">
            {{ form_start(form) }}
                {{ form_row(form.date, {'label':'Data'}) }}
                {{ form_row(form.title, {'label':'Titolo'}) }}
                {{ form_row(form.text, {'label':'Testo'}) }}
                <input class="btn btn-success" type="submit" value="Crea" />
            {{ form_end(form) }}
        
            <ul class="admin-actions admin-actions-show">
                <li>
                    <a class="btn btn-success" href="{{ path('admin_news_index') }}">Torna alla lista</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
