{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="admin-container">
        <div class="modal-header">
            <h1>{{ post.title|title }}</h1>
        </div>
    
        <div class="modal-body">
            <table>
                <tbody>
                    <tr>
                        <th class="admin-th">Data</th>
                        <td>{% if post.date %}{{ post.date|date('d-m-Y') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Titolo</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>Testo</th>
                        <td>{{ post.text }}</td>
                    </tr>
                </tbody>
            </table>
        
            <ul class="admin-actions admin-actions-show">
                <li>
                    <a class="btn btn-success" href="{{ path('admin_news_index') }}">Torna alla lista</a>
                </li>
                <li>
                    <a class="btn btn-warning" href="{{ path('admin_news_edit', { 'id': post.id }) }}">Modifica</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Elimina" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
