{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td><a href="{{ path('admin_gallery_show', { 'id': photo.id }) }}">{{ photo.id }}</a></td>
                <td>{{ photo.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gallery_show', { 'id': photo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gallery_edit', { 'id': photo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gallery_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
